<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: inline-block">
        <img class="menu" (click)= "home" routerLink="/home" src="https://e7.pngegg.com/pngimages/390/663/png-clipart-round-red-logo-red-menu-icon-icons-logos-emojis-menu-icons-thumbnail.png" width="45" height="45" alt="">
         
       </div>
   
       <div style="display: inline-block">
       <p>TM<br> TICKETS</p></div>
     
     <div style="display: inline-block">
      <img class="logo" (click)= "home" routerLink="/home" src="https://imgur.com/SXkOsjJ.png" width="45" height="45" alt="">
       
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <div style="display: inline-block">
          <img class="menu" (click)= "home" routerLink="/home" src="https://e7.pngegg.com/pngimages/390/663/png-clipart-round-red-logo-red-menu-icon-icons-logos-emojis-menu-icons-thumbnail.png" width="45" height="45" alt="">
           
         </div>
     
         <div style="display: inline-block">
         <p>TM<br> TICKETS</p></div>
       
       <div style="display: inline-block">
        <img class="logo" (click)= "home" routerLink="/home" src="https://imgur.com/SXkOsjJ.png" width="45" height="45" alt="">
         
       </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="shape" (click)="atractions()" routerLink="/atractions"></div>

  
 
  

</ion-content>
