<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: inline-block">
        <img class="menu" (click)= "home" routerLink="/home" src="https://e7.pngegg.com/pngimages/390/663/png-clipart-round-red-logo-red-menu-icon-icons-logos-emojis-menu-icons-thumbnail.png" width="45" height="45" alt="">
         
       </div>
   
       <div style="display: inline-block">
       <p>TM<br> TICKETS</p></div>
     
     <div style="display: inline-block">
      <img class="logo" (click)= "home" routerLink="/home" src="https://imgur.com/SXkOsjJ.png" width="45" height="45" alt="">
       
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Select Your Tickets</h1>
  <div class="ticketbx">
  <div class="box">
    <div class="lbl">
      <ion-lable for="name">Adult: </ion-lable>
    </div>
    <div class="btn1">
      <ion-button (click) = "minusTicket('adult') "  routerLink = "/booking">-</ion-button>
    </div>
    <div class="qty">{{adultTicket}}</div>
    <div class="btn1">
      <ion-button (click) = "plusTicket('adult') "  routerLink = "/booking">+</ion-button>
    </div>
  </div>
  <div class="box">
    <div class="lbl1">
      <ion-lable for="name">Child: </ion-lable>
    </div>
    <div class="btn1">
      <ion-button (click) = "minusTicket('child') "  routerLink = "/booking">-</ion-button>
    </div>
   <div class="qty">{{childTicket}}</div>
    <div class="btn1">
      <ion-button (click) = "plusTicket('child') "  routerLink = "/booking">+</ion-button>
    </div>
  </div> 
  <div class="d" id="" data-num="tot">Your ticket amount is: <br> {{childTicket+adultTicket}}</div>
  <div class="d">Your total amount is: <br> ${{totalTicketPrice}},00</div>
</div>
<div >
</div>
<br><br>
<div class="next"><ion-button (click) = "seats()" routerLink = "/seats" >Proceed To Seats</ion-button></div>

</ion-content>
